<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blogapp</title>

  <link rel="stylesheet" href="../stylesheets/style.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <% if(messages.notify){%>
    <div class="notify">
      <h4><%= messages.notify %></h4>
      <i class="ri-close-line"></i>
    </div>
  <%} %>
  <div id="homeimg">
     <nav>
      <a href="/">MyBlog</a>
      <div id="nav-links">
        <a href="/allblogs">All Blogs by Users</a>
        <a href="#">( New ) Featured Blogs</a>
      </div>
      <div id="nav-btns">
        <% if(logedin){ %>
          <a href="/profile">Profile</a>
          <a id="logoutbtn" href="/logout">Log Me Out</a>
        <% } else{ %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <% } %>
      </div>
     </nav>

     <div id="contant">
      <h1>Hey User, we'have something really <br> good for you, <span>today</span>.</h1>
      <a href="#">Explore More <i class="ri-arrow-right-line"></i></i></a>
      <div id="menu">
        <div id="extra">
          <div class="catg active">
            <i class="ri-heart-line"></i> <h4>Liked Posts</h4>
          </div>
          <div class="catg">
            <a href="/recent"><i class="ri-quill-pen-line"></i> <h4>Recent Posts</h4></a>
          </div>
          <div class="catg">
            <i class="ri-user-heart-line"></i> <h4>New User</h4>
          </div>
        </div>
       <main>
          <% if(results !== undefined){%>
            <% results.forEach(function(results){ %>
              <div class="blog-example">
               
                <% if(logedin){ %>
                  <% if(results.like.indexOf(likedbyUser.id) !== -1){ %> 
                    <span class="like" id="likedbyUser" ><%= results.like.length %><i class="ri-heart-fill"></i></span>
                  <% } else{ %> 
                    <span class="like" ><%= results.like.length %><i class="ri-heart-line"></i></span>
                  <% } %>
                <%} else { %>
                  <span class="like" ><%= results.like.length %><i class="ri-heart-line"></i></span>  
                <% } %>

                <div class="pic">
                  <img src=<%= results.author.profileImage %> alt="">
                </div>
                <div class="blog-content">
                  <h3><%= results.post%></h3>
                  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, debitis?</h5>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore enim sit assumenda quae. Sit debitis dicta, magni ducimus eligendi aliquam.</p>
                  <div class="icons">
                    <a href=<%= '/homepage/like/'+ results.id %>><i class="ri-user-heart-line"></i></a>
                    <a href="#"><i class="ri-user-add-line"></i></a> 
                  </div>
                </div>
              </div>
            <% }) %>
          <%}else{%>
            <h4>No Post Available !</h4>
          <%} %>
       </main>
      </div>
     </div>
     
 </div>

<script>
  var cross = document.querySelector('.notify i');
  var notify = document.querySelector('.notify');
  cross.addEventListener('click', function(){
    notify.style.display = 'none';
  });
</script>

</body>
</html>